body {
    background-color: black;
    color: snow;
    font-size: x-large;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1, h2 {
    text-align: center;
    text-decoration: underline;
}
iframe, nav, #menu2 {
    display: block;
    margin: auto;
    text-align: center;
    width: 60%;
}