body {
    width: 95%
}

/* From main.css */
body {
    background-color: aqua;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    font-weight: bold;
}
/* From main.css */

li::first-line {
    font-style: initial;
    text-decoration: underline;
}
li {
    font-style: italic;
    font-family: monospace;
    font-weight: bold;
}