input[type="checkbox"] {
    transform: scale(3);
    margin: 1.6em;
}

body {
    color: snow;
    font-size: 2em;
    background-color: black;
}

h1, h2 {
    text-align: center;
    text-decoration: underline;
}