body {
    color: red;
    background-color: black;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1, h2, h3 {
    text-align: center;
    text-decoration: underline;
}

#center {
    text-align: center;
    margin: auto;
    display: block;
}

#info_list>li {
    cursor: help;
}

li {
    width: fit-content;
}